<ion-header >
  <ion-navbar color="marketTurist">
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background" padding id="page2">
  <h4 id="inicio-heading1" style="color:#000000;font-weight:300;text-align:center;">
    Proveedores
  </h4>
  <div id="inicio-container1">
      <ion-list *ngFor="let item of ProveedorObservable | async " navPush="PaquetesPage"  
      [navParams]="{item:item}">
     
       
      
      
          <ion-item  no-lines >
          
              <img   src= {{item.foto}}>
              <h2 style="color:#000000;text-align:center;">{{item.nombre}}</h2>
              <p>{{item.descripcion}}</p>
            </ion-item>
        </ion-list>
  </div>
  <h4 id="inicio-heading2" style="color:#000000;font-weight:300;text-align:center;">
    Promociones
  </h4>
  <div id="inicio-container2">
      <ion-list *ngFor="let items of PromocionesObservable | async " >
        <ion-item no-lines >
          <img src= {{items.foto}}>
          
              <h2 style="color:#000000;text-align:center;">{{items.nombre}}</h2>
              <h2 style="color:#1be777;text-align:center;">{{items.codigopromocion}}</h2>
              <p>{{items.descripcion}}</p>
        </ion-item>
        </ion-list>
  </div>
</ion-content>