<ion-header>
  <ion-navbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <h4 id="inicio-heading1" style="color:#000000;font-weight:300;text-align:center;">
    Proveedores
  </h4>
  <div id="inicio-container1">
      <ion-card *ngFor="let item of ProveedorObservable | async " navPush="PaquetesPage"  
      [navParams]="{item:item}">

          <img src= {{item.foto}}>
          <ion-card-content>
            <ion-card-title>
              <h2 style="color:#000000;text-align:center;">{{item.nombre}}</h2>
              <p>{{item.descripcion}}</p>
              </ion-card-title>
              
          </ion-card-content>
        </ion-card>
  </div>
  <h4 id="inicio-heading2" style="color:#000000;font-weight:300;text-align:center;">
    Promociones
  </h4>
  <div id="inicio-container2">
      <ion-card *ngFor="let items of PromocionesObservable | async " >

          <img src= {{items.foto}}>
          <ion-card-content>
            <ion-card-title>
              <h2 style="color:#000000;text-align:center;">{{items.nombre}}</h2>
              <h2 style="color:#1be777;text-align:center;">{{items.codigopromocion}}</h2>
              <p>{{items.descripcion}}</p>
              </ion-card-title>
              
          </ion-card-content>
        </ion-card>
  </div>
</ion-content>