// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3mm;
    
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
   }

p{
    color: rgb(0, 0, 0);
    text-align: center;
}
.list {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    margin-top:2%;
    margin-left: 2%;
    margin-right: 2%;
  }
.list .item {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    
  }
  img {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0mm;
    max-width: auto ;
    max-height: auto;
    
}