page-pedidos {

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3mm;
        
    }
    h1 {
        color: rgb(0, 0, 0);
        text-align: center;
       }
    
    p{
        color: rgb(0, 0, 0);
        text-align: center;
    }
    .list {
        
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        margin-top:2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
      }
    .list .item {
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
        border-width: 0px;
        border-style: ridge;
        border-radius: 5px;
        margin-top:2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
        
      }
      img {
        box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0mm;
        max-width: auto ;
        max-height: auto;
        
    }
}
